<div>
  <!--<app-simple-form>
  </app-simple-form>

  {{mail.message}}

  <hr>
  {{api}}

  <hr>
  <p>
    Shhhh....I'm going to tell you a secret:
    <hr>
  {{secret}}
  <p>-->
    <h2>This title is in the app root</h2>

    <p>----------------------</p>
    <h3>Old Components Here</h3>
    <ul>
      <li *ngFor="let message of mail.messages">
        {{message.text}}
      </li>
    </ul>

    <app-simple-form 
        *ngFor="let message of mail.messages" 
        [message]="message.text" 
        (update)="onUpdate(message.id, $event.text)"
      >
        <!--{{message}}-->
    </app-simple-form>


</div>
